Options +FollowSymLinks
RewriteEngine On

# Disable directory browsing 
Options -Indexes

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Allow access to post|post/ :
# post
# post/
RewriteRule ^post\/?$ api/post/read.php

# Allow access to login|login/ :
# login
# login/
RewriteRule ^login\/?$ config/login.php

# Allow access to post/(number(s)) :
# post/345
# number is captured as p
RewriteRule ^post/(\d*)?$ api/post/read.php?p=$1

# Prevent direct access to config/(login.php|Database.php) files
RewriteCond %{THE_REQUEST} /config/.*.php[?/\s] [NC]
RewriteRule ^ - [F]

# Prevent direct access to ap/post/read.php file
RewriteCond %{THE_REQUEST} /api/post/read.php[?/\s] [NC]
RewriteRule ^ - [F]
